body, html {
	margin: 0;
	height: 100%;
	background: #e2e2e2;
}

ul {
	list-style-type: none;
	text-decoration: none;
}

li {
	display: inline-block;
	padding: 20px;
}

li a {
	color: black;
}

li a:hover {
	text-decoration: none;
	color: #dcedff;
}

div nav {
	position: fixed;
	z-index: 1;
	top:40px;
	font-size: 1em;
}

.img-container {
	background-image: url(http://i1356.photobucket.com/albums/q725/aef538/eberhard-grossgasteiger-382463-unsplash_zpsshzsw0ln.jpg);
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.img-container h1 {
	font-family: 'Work Sans', Extra Bold;
	text-shadow: 2px 2px 4px #1c0f13;
}

.inner-container {
	text-align: center;
	position: absolute;
	width: 100%;
	color: #dcedff;
	height: auto;
	margin-top: 250px;
	text-shadow: 4px 4px 8px #1c0f13;
}

h1 {
	font-size: 7em;
}

/*div h2 {
	font-size: 2em;
	text-align: left;
	color: #343f3e;
	padding-top: 30px;
	padding-left: 40px;
}*/

.site {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr auto;
	grid-gap: 20px;
	grid-template-areas:
		"banner banner banner" 
		"content-1 content-2 content-3"
		"about about about";
	align-items: center;
	padding:30px;
}

.aboutMeGrid {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas:
		"picture bio";
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 60px;
	border-top: .75px maroon solid;
	background: #6e7e85;
}

.photo {
	grid-area: picture;
	border-radius: 10%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
    transition: 0.8s;
}

.bio {
	grid-area: bio;
	font-family: 'Lato';
	font-size: 1.5em;
	margin: 0 auto;
	padding: 30px;
	padding-top: 100px;
}

.banner {
	grid-area: banner;
	border-top: .75px maroon solid;
	font-size: 2em;
	text-align: left;
	color: #343f3e;
	padding-top: 30px;
	padding-left: 40px;
}

.banner p {
	font-size: .5em;
	font-family: 'Lato';
}

.project-tile {
	grid-area: content-1;
}

.content-2 {
	grid-area: content-2;
}

.content-3 {
	grid-area: content-3;
}

.footer {
	text-align: center;
	background: #343f3e;
	color: #dcedff;
	padding-top: 20px;
	border-top: .75px maroon solid;
}

.f-items {
	padding: 20px;
	color: #dcedff;
}

.card {
    /* Add shadows to create the "card" effect */
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.container {
	background: #505a5b;
}
